<style>
	
	body {
		font-family: 'Reem Kufi', sans-serif;
	}
	
	header ul {
		list-style: none;
	}

	header ul li {
		margin: 20px;
	}
	
	.ms {
		padding: 5px;
	}

	footer ul{
		list-style: none;
	}
	
	footer ul li{
		margin: 10px;
	}
</style>